<div class="row">
	<div class="col">
		<form (ngSubmit)="onSubmit()" #authForm="ngForm" class="form-default form-signin" autocomplete="off">

			<div class="form-group">
				<h2>Sign in</h2>
			</div>

			<div class="form-group">
				<label for="username">Username <span class="error-text"
						[hidden]="username.valid">(required)</span></label>
				<input type="text" class="form-control {{username.valid ? 'is-valid': 'is-invalid'}}" id="username"
					placeholder="Username" [(ngModel)]="credentials.username" name="username" required
					#username="ngModel" />
			</div>

			<div class="form-group">
				<label for="password">Password <span class="error-text"
						[hidden]="password.valid">(required)</span></label>
				<input type="password" class="form-control {{password.valid ? 'is-valid': 'is-invalid'}}" id="password"
					placeholder="Password" [(ngModel)]="credentials.password" name="password" required
					#password="ngModel" />
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary">Sign in</button>
			</div>

			<div class="form-group" [hidden]="msgValidation == null">
				<div class="alert alert-danger">{{msgValidation}}</div>
			</div>

		</form>
	</div>
</div>