<form (ngSubmit)="onSubmit()" #authForm="ngForm" style="width: 300px">

	<div class="div-height">
		<label for="username">Username</label>
		<input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="credentials.username"
			name="username" required #username="ngModel" />
		<span class="required-text align-text-top" [hidden]="username.valid">
			Required.
		</span>
	</div>

	<div class="div-height">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" placeholder="Password"
			[(ngModel)]="credentials.password" name="password" required #password="ngModel" />
		<span class="required-text align-text-top" [hidden]="password.valid">
			Required.
		</span>
	</div>

	<button type="submit" class="btn btn-primary btn-margin-botton">Entrar</button>

	<div>
		<div class="alert alert-danger" [hidden]="msgValidation == null">{{msgValidation}}</div>
	</div>

</form>