body {
    background: #eee !important;
}

.page-margin{
    margin: 30px 10px;
}

.error-text{
    color: firebrick;
    font-size: 7pt;
}

.max-width-div-list{
    max-width: 700px;
}

.form-default{
    max-width: 600px;
    padding: 30px;
    background-color:  #fff;
    margin: auto;
}

.btn-from-default-width{
    width: 100px;
}

.pointer{
    cursor: pointer;
}